{% extends "layout.twig" %}

{% block title %} <title> Mon compte </title> {% endblock %}
{% block content %}
<!-- Page Content -->

<div class="container">

  <!-- Page Heading -->
  	<div class="row">
 
		<h1 class="my-4 col-md-4">Bienvenue {{session.firstName}} !</h1>

		<div class="col-md-4">
		</div>
	    
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
            	<h4 class="list-group-item active"> Informations</h4>
                <p class="list-group-item"><b>Nom : </b> {{session.lastName}} </p>
                <p class="list-group-item"><b>Prénom : </b>  {{session.firstName}} </p>
                <p class="list-group-item"><b>Email : </b>  {{session.email}} </p>
            </div>
        </div>
        <div class="col-md-4">
		<a class="btn btn-primary" id="updateAccount" href="index.php?url=updateAccount">Modifier mes informations personnelles</a>
	    </div>
	    <div class="col-md-4">
	    <a class="btn btn-primary" id="btn-ajouter-rubrique" href="index.php?url=addCategory" style="visibility:{{ session.id != '' ? 'visible' : 'hidden' }}">Ajouter une catégorie</a>
		<a class="btn btn-primary" id="btn-ajouter-annonce" href="index.php?url=addProduct">Ajouter une annonce</a>
	    </div>

	 
        <div class="col-lg-9">
     
        <!-- /.col-lg-3 -->
            
            <div class="row">
                {% for p in product %}
                    <div class="col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <a href="?action=afficherUneAnnonce&paramEnTete={{p.name}}&paramCorps={{p.description}}&paramIdAnnonce={{p.id}}">
                                <img class="card-img-top" src="public/images/article1.jpg" alt="">
                            </a>
                            <div class="card-body">
                                <h4 class="card-title">
                                    <a href="?action=afficherUneAnnonce&paramEnTete={{p.name}}&paramCorps={{p.description}}&paramIdAnnonce={{p.id}}">{{p.name}}</a>
                                </h4>
                                <h5>{{p.price}}</h5>
                                <p class="card-text">{{p.description}}</p>
                                <a class="btn btn-danger" href="index.php?action=formModifierAnnonce&param={{p.id}}&entete={{p.name}}" style="visibility:{{ session.id != '' ? 'visible' : 'hidden' }}">Modifier</a>
                                <a class="btn btn-danger" href="index.php?action=supprimerAnnonce&param={{p.id}}" style="visibility:{{ session.id != '' ? 'visible' : 'hidden' }}">Supprimer</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
	</div>
</div>  

{% endblock %}