<!DOCTYPE html>
<html lang="fr">

    <head>
    	<meta charset="utf-8">
    	<meta name="description" content="site petites annonces sur l'univers de final fantasy">
    	<meta name="keywords" content="final fantasy materia arme tifa cloud">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./public/img/fav.png">
    	{% block title %}{% endblock %}

        {% block stylesheets %}
        <link href="public/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% endblock %}
        
    </head>
    
    <body>
        <header>
            <nav id="menu">
                <div class="nav-menu">
                    <div class="logo">
                        <a href="index.php?url=home"><img src="./public/img/logoff.png" alt="logo"></a>
                        <a href="index.php?url=home"><h1>Le bon FF</h1></a>
                    </div>
                    
                    <ul class="items">
                        <li><a href="index.php?url=home">Accueil</a></li>
                        <li><a href="index.php?url=products/new&paramName=Nouveautés">Nouveautés</a></li>
                        <li><a href="index.php?url=categories">Catégories</a></li>
                    </ul>
                </div>
                
                <div class="nav-end">
                    <div class="block-search">
                        <div class="search">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input id="search" name="q-search" type="text" placeholder="Rechercher">
                        </div>
                        <ul id="list-search"></ul>
                    </div>
                    
                    <div class="profile">
                        <a href={{session.id != '' ? 'index.php?url=account' : 'index.php?url=login'}}>{{session.id != '' ? 'Mon compte' : 'Se connecter'}}</a>
                        <a href="index.php?url=account" style="visibility:{{ session.id != '' ? 'visible' : 'hidden' }}"><img src="./public/img/user2.png" alt="image de profil"></a>
                    </div>
                </div>
                
            </nav>
            
            <div id="nav-cat">
                <ul class="items-cat">
                    {% for category in categories %}
                        <li><a href="index.php?url=products&id={{category.id}}&paramName={{category.name}}">{{category.name}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </header>
        
        {% block content %}{% endblock %}
        
        <footer id="footer">
            <div class="block">
                <div class="site">
                    <h2>Site</h2>
                    <ul class="block-items">
                        <li><a href="index.php?url=home">Page d'accueil</a></li>
                        <li><a href="index.php?url=products/new&paramName=Nouveautés">Page des nouveautés</a></li>
                        <li><a href="index.php?url=categories">Page des catégories</a></li>
                        <li><a href="index.php?url=home">Mentions légales</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="block">
                <div class="final-fantasy">
                    <h2>Jeux Final Fantasy</h2>
                    <ul class="block-items">
                        <li><a href="https://www.jeuxvideo.com/jeux/jeu-55425/">Final Fantasy VII</a></li>
                        <li><a href="https://www.jeuxvideo.com/jeux/jeu-56135/">Final Fantasy VIII</a></li>
                        <li><a href="https://www.jeuxvideo.com/jeux/jeu-57336/">Final Fantasy IX</a></li>
                        <li><a href="https://www.jeuxvideo.com/jeux/playstation-2-ps2/00003612-final-fantasy-x.htm">Final Fantasy X</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="collab">
                <div class="block">
                    <a href="https://www.linkedin.com/in/pierre-waflart/"><img src="./public/img/merci.png" alt="Formateur lambda"></a>
                </div>
                
                <div class="block">
                    <a href="https://www.linkedin.com/in/yuna-charlon/"><img src="./public/img/merci3.png" alt="Shiva"></a>
                </div>
                
                <div class="block">
                    <a href="https://www.linkedin.com/in/jessica-loreau-6b6561192/"><img src="./public/img/merci2.png" alt="Collègue lambda"></a>
                </div>
            </div>
        </footer>
        
        <script type="text/javascript" src="./public/js/ajax.js"></script>
    </body>
</html>