{% extends "layout.twig" %}

{% block title %} <title> Catégorie {{paramName}} </title> {% endblock %}
{% block content %}

<body>
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
    <h1 class="my-4">Catégorie {{paramName}}</h1>

    {# <a class="btn btn-danger" href="index.php?action=formAjouterAnnonce" style="visibility:{{ session.utilisateur.id_utilisateur != '' ? 'visible' : 'hidden' }}">Ajouter une annonce</a> #}

    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="index.php?url=newProducts&paramName=Nouveautés" class="list-group-item active">Nouveautés</a>
                
                {% for category in categories %}

                <a href="index.php?url=products&id={{category.id}}&paramName={{category.name}}" 
                class="list-group-item">{{category.name}}</a>
   
                {% endfor %}
            </div>
        </div>



        <div class="col-lg-9">
     
        <!-- /.col-lg-3 -->
            
            <div class="row">
            {% for product in products %}
				<div class="col-lg-3 col-md-4 col-sm-6 mb-4">
				
					<div class="card h-100">
						<a href="index.php?url=product&id={{product.id}}&paramName={{paramName}}"><img class="card-img-top" src="./public/img/products/{{product.urlPicture}}" alt="Image de {{product.name}}"></a>
						<div class="card-body">
							<h4 class="card-title">
								<a href="index.php?url=product&id={{product.id}}&paramName={{paramName}}">{{product.name}}</a>
							</h4>
							<p class="card-text">{{product.description}}</p>
							<p class="card-text">{{product.price}} euros</p>
							<p class="card-text">Annonce créée le {{product.created_at}} et par {{product.id_user}} dans la catégorie {{product.id_category.name}}</p>
							<a class="btn btn-primary" href="index.php?url=updateProduct&id={{product.id}}" style="visibility:{{ session.role != 'admin' ? 'hidden' : 'visible' }}">Modifier</a>
							<a class="btn btn-danger" href="index.php?url=deleteProduct&id={{product.id}}" style="visibility:{{ session.role != 'admin' ? 'hidden' : 'visible' }}">Supprimer</a>
						</div>
						
	                    <div class="card-footer">
                        	<a href="index.php?url=product&id={{product.id}}&paramName={{paramName}}" class="btn btn-primary">Voir plus</a>
                    	</div>
					</div>
				</div>
			{% endfor %}
            </div>
        </div>
	</div>
</div>  

  <!-- /.row -->

  {# <!-- Pagination -->
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">1</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">2</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">3</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
    </li>
  </ul> #}

</div>
<!-- /.container -->
</body>
{% endblock %}