{% extends "layout.twig" %}

{% block title %} <title>Annonces dans la catégorie {{paramName}}</title> {% endblock %}
{% block content %}

<div class="container">

    <div class="row">
    	<div class="col-md-8">
			<h1 class="my-4 col-md-8">Catégorie {{paramName}}</h1>
		</div>
		<div class="col-md-4">
			<a class="my-5 px-5 btn btn-success" id="btn-ajouter-rubrique" href="index.php?url=addProduct" style="visibility:{{ session.id != '' ? 'visible' : 'hidden' }}">Créer une annonce</a>
		</div>
	</div>


    <div class="row">
        <div class="col-lg-3">
            <div class="list-group">
                <a href="index.php?url=newProducts&paramName=Nouveautés" class="list-group-item {{paramName != 'Nouveautés' ? '' : 'active'}}">Nouveautés</a>
                
                {% for category in categories %}

                <a href="index.php?url=products&id={{category.id}}&paramName={{category.name}}" 
                class="list-group-item {{paramName != category.name ? '' : 'active'}}">{{category.name}}</a>
   
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-9">
			<div class="row text-center">
				{% for product in products %}
					<div class="col-lg-4 col-md-4 col-sm-6 mb-4">
		
						<div class="card h-100">
							<a href="index.php?url=product&id={{product.id}}&paramName={{paramName}}"><img class="card-img-top" src="./public/img/products/{{product.urlPicture}}" alt="Image de {{product.name}}"></a>
							<div class="card-body">
								<h4 class="card-title">
									<a href="index.php?url=product&id={{product.id}}&paramName={{paramName}}">{{product.name}}</a>
								</h4>
								<p class="card-text">{{product.description}}</p>
								<p class="card-text">Prix : {{product.price}} euros</p>
								<a class="btn btn-primary" href="index.php?url=updateProduct&id={{product.id}}" style="visibility:{{ session.role != 'admin' ? 'hidden' : 'visible' }}">Modifier</a>
								<a class="btn btn-danger" href="index.php?url=deleteProduct&id={{product.id}}&img={{product.urlPicture}}" style="visibility:{{ session.role != 'admin' ? 'hidden' : 'visible' }}">Supprimer</a>
							</div>
							
		                    <div class="card-footer">
	                        	<a href="index.php?url=product&id={{product.id}}&paramName={{paramName}}" class="btn btn-primary">Voir plus</a>
	                    	</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>

{% endblock %}