{% extends "./admin/adminLayout.twig" %}

{% block title %} <title>Admin</title> {% endblock %}

{% block content %}

<!-- Faire le css de cette balise p ci dessous -->
<p>{{message}}</p>

	<div class="admin-board">
	    <table>
	        <thead>
	            <tr>
	                <td>Nom</td>
	                <td>Description</td>
	                <td>Image</td>
	                <td>Modifier</td>
	                <td>Supprimer</td>
	            </tr>
	        </thead>
	        <tbody>
	        	{% for category in categories %}
	            <tr>
	                <td class="admin-people">
	                    <img src="./public/img/categories/{{category.url_picture}}" alt="{{category.name}}">
	                    <div class="admin-name">
	                        <h5>{{category.name}}</h5>
	                        <p>{{category.id}}</p>
	                    </div>
	                </td>
	                
	                <td>
	                    <p>{{category.description}}</p>
	                </td>
	                
	                <td class="admin-role">
	                    <p>{{category.url_picture}}</p>
	                </td>
	                <td class="admin-edit"><a href="index.php?url=admin/category/update&id={{category.id}}">Modifier<i class="fa-solid fa-pen"></i></a></td>
	                
	                <td class="admin-delete"><a href="index.php?url=admin/category/delete&id={{category.id}}&img={{category.url_picture}}">Supprimer<i class="fa-solid fa-ban"></i></a></td>
	            </tr>
	          	{% endfor %}
	      	</tbody>
	    </table>
	</div>
</section>


{% endblock %}